/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 3.3em;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.entry-content {
	margin: 50px 0 70px;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.entry-header {
	.entry-title {
		margin-bottom: 5px;
		a {
			color: $color__dark-grey;
		}
	}
	.posted-on {
		font-size: 14px;
	}
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
