/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
	@include font-size(1);
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	font-family: $font__roboto;
	font-size: 16px;
	color: $color__dark-grey;
	.canvas {
		@include tablet {
			font-size: 0.9rem;
		}
		@include desktop {
			max-width: 1200px;
		}
	}
}

a {
	text-decoration: none;
	cursor: pointer;
}

h1, h2, h3, h4, h5 {
	font-family: $font__roboto;
	text-transform: uppercase;
	font-weight: 500;
}

h1 {
	color: $color__light-grey;
	font-size: 1.2rem;
	font-weight: 100;
	border-left: 5px solid #c59c6c;
	padding-left: 20px;
}

h2 {
	font-size: 0.9rem;
	color: #c59c6c;
	@include desktop {
		font-size: 1rem;

	}
}

h3 {
	font-size: 0.9rem;
	color: $color__dark-grey;
}
blockquote, q {
	font-style: italic;
	display: flex;
	padding: 1px 20px;
	p {
		margin: 0 30px;
	}
	&:before {
		content: url("../assets/images/left-quotes-sign-32.png");
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: $base__space-unit;
}

ul, ol {
	margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $base__space-unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base__space-unit $base__space-unit;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 $base__space-unit;
	width: 100%;
}
