footer .site-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
        font-family: $font__title;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .social-icon-wrap {
        margin-bottom: 10px;
        width: 300px;
        display: flex;
        justify-content: center;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 18px;
            width: 15px;
            height: 15px;
            margin: 8px;
            border-radius: 50%;
            border: 3px solid #000;
            &:hover {
                background-color: #000;
                i {
                    color: #fff;
                }
            }
            i {
                color: #000;

            }
        }
    }
    .copyright {
        color: #808080;
        font-size: 14px;
        text-align: center;
        line-height: 1rem;
        @include tablet {
            width: 300px;
        }
    }
}
