/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* -----------------------Tablet and Desktop Menus ----------------------------*/

.main-navigation {
	#logo, #mobile-logo {
		font-family: $font__form_elements;
		font-size: 1.8rem;
		text-decoration: none;
	}
}

.menu-main-container {
	#primary-menu, #mobile-menu {
		a {
			text-decoration: none;
			font-family: $font__form_elements;
			font-size: 1.5rem;
			@include tablet {
				font-size: 1.6rem;
			}
			@include desktop {
				font-size: 1.8rem;
			}
		}
	}
}

//Dark pages (Light Nav)
.main-navigation {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 90%;
	padding-top: 0.8rem;
	margin: 0 auto;
	position: relative;
	@include tablet {
		justify-content: space-between;
	}
	.mobile-menu-button {
		position: absolute;
		left: 5px;
		top: 30px;
		font-size: 25px;
		color: #fff;
		&:hover {
			cursor: pointer;
		}
		@include tablet {
			display: none;
		}
	}
	#logo {
		font-family: $font__form_elements;
		font-size: 2.5rem;
		text-decoration: none;
		text-align: center;
		color: #fff;
		margin-left: 50px;
		@include tablet {
			font-size: 3rem;
			margin: 0;
		}
		@include desktop {
			font-size: 3.5rem;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	.menu-main-container {   //Main nav items
		#primary-menu {
			display: none;
			@include tablet {
				display: flex;
				align-items: center;
				margin: 0;
			}
			a {
				padding-bottom: 5px;
				margin: 0.3rem 0.8rem;
				color: rgba(255,255,255,0.5);
				&:hover {
					color: #fff;
					transition: all 1s;
				}
			}
		}
	}
}

/* ---------------------Current page rules --------------------------------- */
//Dark Pages (Light Menu)
.home {
	#primary-menu {
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a {
			border-bottom: 3px solid #fff;
			color: #fff;
			&:hover {
				color: #fff;
				border-bottom: 3px solid #fff;
			}
		}
	}
}

// Light Pages (Dark Menu)
.post-type-archive-projects, .page-template-contact {
	#logo {
		color: #000;
	}
	.menu-main-container #primary-menu {
		a {
			color: rgba(0,0,0, 0.3);
			&:hover {
				color: #000;
			}
		}
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a {
			border-bottom: 3px solid #000;
			color: #000;
			&:hover {
				color: #fff;
				border-bottom: 3px solid #000;
			}
		}
	}
}

/* ------------------------------- Mobile menu ---------------------------------*/
//Generic mobile styles across pages
.mobile-logo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	i {
		font-size: 25px;
		&:hover {
			cursor: pointer;
		}
	}
}

#mobile-menu-container {
	position: fixed;
	top: 0;
	left: 0;
	background-color: transparent;
}

#mobile-menu {
	display: flex;
	flex-direction: column;
	li a {
		padding: 4px 30px 4px 15px;
		text-align: left;
		margin: 0;
		&:hover {
			transition: all 1s;
		}
	}
}


//Specific styles according to page
.home  {
	.mobile-logo-container {
		background-color: #000;
		height: 60px;
	}
	#mobile-menu li a  {
		background-color: #000;
		color: rgba(255,255,255,0.5);
		&:hover {
			color: #fff;
		}
	}
}

.post-type-archive-projects, .page-template-contact {
	#mobile-menu li a  {
		background-color: #fff;
		color: rgba(0,0,0, 0.3);
		&:hover {
			color: #000;
		}
	}
}

/* --------------------------------Small menu --------------------------------  */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }
//
// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }
//
// .comment-navigation,
// .posts-navigation,
// .post-navigation {
//
// 	.site-main & {
// 		margin: 0 0 $base__space-unit;
// 		overflow: hidden;
// 	}
//
// 	.nav-previous {
// 		float: left;
// 		width: 50%;
// 	}
//
// 	.nav-next {
// 		float: right;
// 		text-align: right;
// 		width: 50%;
// 	}
// }
