/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


.main-navigation {
	display: flex;
	align-items: center;
	padding: 0.8rem 0;
	margin: 0 auto;
	position: relative;

	@include tablet {
		justify-content: space-between;
	}

	#logo {
		color: $color__dark-grey;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.5rem;
		margin: 0 auto;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;

		@include tablet {
			margin: 0;
		}
		@include desktop {
			font-size: 2rem;
		}
	}

	.mobile-menu-button {
		position: absolute;
		left: 48%;
		bottom: -18px;
		font-size: 25px;
		color: #dcc3a7;
		&:hover {
			cursor: pointer;
		}
		@include tablet {
			display: none;
		}
	}
}

/* ------------- Top Navigation ---------*/
#primary-menu {
	display: none;

	a {
		padding: 5px 10px;
		margin: 0 10;
		color: #a1a1a1;
		text-transform: uppercase;
		transition: all 0.5s;
		&:hover {
			background-color: rgba(197, 156, 108, 0.1);
		}
	}

	&:last-child {
		a {
			margin-right: 0;
		}
	}
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		background-color: rgba(197, 156, 108, 0.6);
		padding: 5px 10px;
		font-weight: 500;
		color: #fff;
		&:hover {
			background-color: $color__gold;
			color: #fff;
		}
	}
	@include tablet {
		display: flex;
		align-items: center;
		margin: 0;
	}
	@include desktop {
		max-width: 1200px;
	}
}

.main-navigation {
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
}

/* ---------------------Current page rules --------------------------------- */

	#mobile-menu {
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a {
			color: $color__dark-grey;
			&:active, &:focus {
				color: $color__gold;
			}
		}
	}

/* ------------------------------- Mobile menu ---------------------------------*/
#mobile-menu-container {
	width: 100%;
	position: fixed;
	top: 0px;
	left: -585px;
	width: 100%;
	height: 100%;
	background-color: darken(#E3E3E3,6%);
	transition: all 0.3s ease;
	z-index: 999;

	@include tablet {
		display: none;
	}

	.menu-main-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.close-menu {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 30px;
		color: #fff;
		cursor: pointer;
	}
}

#mobile-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 170px;
	width: 150px;
	a {
		text-transform: uppercase;
		color: #fff;
		font-size: 20px;
		font-weight: 500;

	}
}

//Specific styles according to page
// .home, .page-template-contact  { 			// TODO
// 	.mobile-menu-button{
// 		color: #fff;
// 	}
// 	.mobile-logo-container {
// 		background-color: #000;
// 		#mobile-logo {
// 			color: #fff;
// 		}
// 		i {
// 			color: red;
// 		}
// 	}
//
// 	#mobile-menu li a  {
// 		background-color: #000;
// 		color: rgba(255,255,255,0.5);
// 		&:hover {
// 			color: #fff;
// 		}
// 	}
// }

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* --------------------------------Small menu --------------------------------  */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }
//
// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }
//
// .comment-navigation,
// .posts-navigation,
// .post-navigation {
//
// 	.site-main & {
// 		overflow: hidden;
// 	}
//
//
//
// }
