/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.home {
    .site-content {
        display: flex;
        justify-content: center;
    }
    .page-hero {
        background: linear-gradient( to right, rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
         url('../assets/images/desktop-a-landing.jpg');
        background-size: cover;
        background-position: center center;
        height: 70vh;
        @include  tablet {
            height: 100vh;
        }
    }
}

.welcome-message {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    @include tablet {
        height: 75vh;
    }
    h4 {
        font-family: 'open_sans', sans-serif;
        color: #fff;
        text-align: center;
        @include tablet {
            font-size: 1.8rem;
            margin-bottom: 20px;
        }
    }
    a {
        font-family: $font__title;
        border: 3px solid #fff;
        padding: 0.3rem 0.8rem;
        text-transform: uppercase;
        color: #fff;
        border-radius: 3%;
        font-size: 1.6rem;
    }
}
