/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/*(0)Page set up */

.content-area {
    max-width: 1200px;
    padding: 50px 20px;
    margin: 0 auto;
    @include tablet {
        padding: 50px 30px;
    }
    @include desktop {
        padding: 100px;
    }
    .canvas {
        padding: 30px 0;
        @include tablet {
            padding: 50px 0;
        }
        @include desktop {
            padding: 45px 0;
        }
    }
}

/*(0.1) 404 Page */

.error-404 {
    @include desktop {
        margin-top: 30px;
    }
}

/* (0.2) Search Results Page */

.search {
    .page-header {
        margin-bottom: 30px;
        @include desktop {
            margin-top: 30px;
        }
    }
}




/* (1) Home Page */
.home {
    .canvas {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

/* (3) Blog Archive Page */



/* (3.1) Single Blog Post Page */

.entry-footer {
    a {
        padding: 5px 10px;
        background-color: rgba(161,161,161, 0.4);
        color: rgba(0,0,0, 0.8);
        font-size: 0.6rem;
        margin-right: 5px;
        &:hover {

        }

    }
}

.post-navigation {
    margin: 30px 0 50px 0;
}

.nav-links {
    display: flex;
	flex-direction: column;
	@include tablet {
		flex-direction: row;
		justify-content: space-between;
	}
}

.nav-previous {
	margin: 0 auto 35px;
	@include tablet {
		margin: 0;
	}
}

.nav-next {
	margin: 0 auto;
	@include tablet {
		margin: 0;
	}
}


.nav-previous a,
.nav-next a  {

	color: $color__dark-grey;
	border: 1px solid $color__dark-grey;
	padding: 10px 15px;
	text-transform: uppercase;
	font-size: 14px;
}

/* (4) About Page */

//Instagram Grid
.instagram {
	h2 {
		text-align: center;
	}
}
#instagram-grid {
	margin-left: 0;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;

	.insta-block {
		display: flex;
		list-style-type: none;
		flex-basis: 50%;

		@include tablet {
			flex-basis: 33%;
		}
		@include desktop {
			flex-basis: 25%;
		}
	}

	.insta-img {
		opacity: 0.6;
		&:hover, &:active {
			opacity: 1;
		}
	}
}

// Modal styles

.modal-background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 9;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-inner {
	display: flex;
	flex-direction: column;
	@include desktop {
		flex-direction: row;
	}
}

.close-icon {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	font-size: 40px;
	cursor: pointer;
}

.image-wrap {
	width: 350px;

	@include tablet {
		width: 420px;
	}

	@include desktop {
		width: 500px;
		img {
			width: 100%;
		}

	}
}



.pic-details {
	width: 350px;
	height: auto;
	background-color: #fff;
	padding: 20px 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	p {
		margin: 0;
	}
	@include tablet {
		width: 420px;
	}

	@include desktop {
		width: 350px;
		height: 500px;
	}
}

.profile-pic {
	width: 55px;
	margin-right: 15px;
	img {
		width: 60px;
		border-radius: 50%;
	}
}

.user-info {
	display: flex;
	margin-bottom: 20px;

	.username {
		font-weight: 500;
	}

	.user-location {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
	}
}

.likes-date {
	display: none;
	justify-content: space-between;
	@include tablet {
		margin-top: 20px;
		display: flex;
	}
}

.likes {
	font-weight: 500;
	@include tablet {
		display: flex;
	}
}

.dateCreated {
	display: flex;
	font-style: italic;
	align-self: flex-end;
}

//skill-bar-graph
.skills-container {
    .skill:nth-child(odd) {
        .skill-level {
            background: repeating-linear-gradient(
              45deg,
              rgba(96, 109, 188, 0.5),
              rgba(96, 109, 188, 0.5) 10px,
              rgba(70, 82, 152, 0.3) 10px,
              rgba(70, 82, 152, 0.3) 20px
            );
        }
    }
    .skill:nth-child(even) {
        .skill-level {
            background: repeating-linear-gradient(
              45deg,
              #FFA500,
              #FFA500 10px,
              #ffc966 10px,
              #ffc966 20px
            );
        }
    }
}
.skill {
    display: flex;
    margin-bottom: 10px;
}

.skill-label {
    background-color: #fff;
    padding: 5px 10px 5px 0;
    text-align: right;
    min-width: 115px;
    z-index: 1;
}
.skill-bar {
    background-color: #e6e6e6;
    display: flex;
    width: 100%;

    .skill-level {
        display: flex;
        align-items: center;
        width: 0%;
        position: relative;
        transition: width 2s ease-in-out;
        &:after {
            position: absolute;
            right: 10px;
            color: #000;
            content: attr(data-percent);
            text-shadow: 1px 1px rgba(255,255,255,255.5);
        }
    }
}


//Download Resume
.download-resume {     //TODO: Add resume
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    a {
        color: $color__dark-grey;
        &:hover {
            font-weight: 500;
        }
    }
}

/* (5) Contact Page */
.page-template-contact {
    .canvas {
        display: flex;
        flex-direction: column;
        input[type="text"],
        input[type="email"] {
            width: 100%;
        }

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
        }

        .contact-content {
            h1 {
                margin-top: 0;
            }
            @include desktop {
                flex-basis: 45%;
            }
        }
    }
}
