/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget-area {
	display: none;
	@include tablet {
		display: inline;
	}
}


.widget {
	margin: 0 0 $base__space-unit;
	.widget-title {
		font-family: $font__form_elements;
		margin-top: 0;
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
