/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget-area {
	display: none;
	@include tablet {
		display: inline;
		padding-left: 20px;
	}
}


.widget {
	margin: 0 0 $base__space-unit;
	.widget-title {
		font-family: $font__form_elements;
		margin: 0;
	}
	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		a {
			color: #000;
		}
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search Widget. */

.search-form {
	@include tablet {
		display: flex;
		margin: 0;
		padding: 0;
		border: 1px solid #999;
		width: 25vw;
		[type="search"] {
			border-radius: 0;
			border: none;
			width: 100%;
			outline: none;
			padding: 5px;
			font-size: 12px;
		}
		.search-submit {
			border-radius: 0;
			border: none;
			box-shadow: none;
			text-shadow: none;
			text-transform: uppercase;
			background-color: #999;
			color: #fff;
			font-size: 11px;
			padding: 5px 10px;
			outline: none;
		}
	}
	@include desktop {
		width: 15vw;
	}
}

/* Tag Cloud Widget. */

.tagcloud {
	a {
		padding: 5px 10px;
		background-color: #999;
		color: #fff;
		text-transform: uppercase;
		font-style: bold;
		margin: 1px;
	}
}
